
@model IPOS.Dash.Admin.Web.Models.WipoHagueViewModel

@{
    ViewBag.Title = "Create";
}

<h2>New Record</h2>
<h3>WIPO-Hague</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4><span class="sys_msg">System Message</span></h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @*----------------------------------------------*@           
            <div class="form-group">
                <label><b> Reporting Date: </b></label>
                <div class='input-group date' id='datetimepicker' style="width: 300px;">              
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field ReportingDate must be a date." data-val-required="The ReportingDate field is required." id="ReportingDate" name="ReportingDate" type="datetime">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        <br />

    @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("International Registrations:")
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field IntlRegistrations must be a number." data-val-required="The IntlRegistrations field is required." id="IntlRegistrations" name="IntlRegistrations" type="number">
                @*@Html.EditorFor(model => model.IntlRegistrations, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.IntlRegistrations, "", new { @class = "text-danger" })*@
                
            </div>
        </div>
        <br />
        @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Designs In International Registrations:")
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field DesignsIntlRegistrations must be a number." data-val-required="The DesignsIntlRegistrations field is required." id="DesignsIntlRegistrations" name="DesignsIntlRegistrations" type="number">
               
            </div>
        </div>
        <br />

        @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("International Applications:")
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field IntlApplications must be a number." data-val-required="The IntlApplications field is required." id="IntlApplications" name="IntlApplications" type="number">
              
            </div>
        </div>
        <br />

        @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Designs In International Applications:")
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field DesignsIntlApplications must be a number." data-val-required="The DesignsIntlApplications field is required." id="DesignsIntlApplications" name="DesignsIntlApplications" type="number">
               
            </div>
        </div>
        <br />

        @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("International Renewals:")
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field Renewals must be a number." data-val-required="The Renewals field is required." id="Renewals" name="Renewals" type="number">               
                
            </div>
        </div>
        <br />

        @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Designs In International Renewals:")
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field DesignsRenewals must be a number." data-val-required="The DesignsRenewals field is required." id="DesignsRenewals" name="DesignsRenewals" type="number">              
            </div>
        </div>
        <br />

        @*----------------------------------------------*@
        <div class="form-group">
            <div class="col-md-10">             
                @Html.HiddenFor(model => model.IsDeleted, new { htmlAttributes = new { Value = "False" } })                     
            </div>
        </div>
       

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<br />

<div>
    @Html.ActionLink("Back to WIPO-Hague Records", "Index")
</div>


@section JavaScriptAtDocReady
{

        $('#datetimepicker').datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 'decade',
            minView: 'month',
            autoclose: true
        });

}

