@model IEnumerable<IPOS.Dash.Admin.Data.FCT_DS_WIPOHague>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3><span class="asd">System Message</span></h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntlRegistrations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignsIntlRegistrations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntlApplications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignsIntlApplications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renewals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignsRenewals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.GroupType
        </td>
        <td>
            @item.ReportingDate.ToShortDateString()
        </td>
        <td>
            @item.IntlRegistrations
        </td>
        <td>
            @item.DesignsIntlRegistrations
        </td>
        <td>
            @item.IntlApplications
        </td>
        <td>
            @item.DesignsIntlApplications
        </td>
        <td>
            @item.Renewals
        </td>
        <td>
            @item.DesignsRenewals
        </td>
        <td>
            @item.CreatedDate.ToShortDateString()
        </td>
        <td>
            @item.LastUpdateDate.ToShortDateString()
        </td>
        <td>
            @item.DeletedDate
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
