@model IEnumerable<IPOS.Dash.Admin.Web.Models.WipoHagueViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3><span class="sys_msg">System Message</span></h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Group Type 
        </th>

        <th>
            Reporting Date
        </th>

        <th>International Registrations
        </th>

        <th>
            Designs in International Registrations        
        </th>

        <th>
           International Applications
        </th>

        <th>
            Designs in International Applications
        </th>

        <th>
            Renewals
        </th>

        <th>
            Designs in Renewals 
        </th>

        <th>
           Created Date
        </th>

        <th>
            Last Update Date
        </th>

        <th>
            Is Deleted
        </th>

        <th>
            Deleted Date
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.GroupType
        </td>
        <td>
            @item.FormatDateReportingDate
        </td>
        <td>
            @item.IntlRegistrations         
        </td>
        <td>
            @item.DesignsIntlRegistrations
        </td>
        <td>
            @item.IntlApplications
        </td>
        <td>
            @item.DesignsIntlApplications
        </td>
        <td>
            @item.Renewals
        </td>
        <td>
            @item.DesignsRenewals
        </td>
        <td>
            @item.FormatDateCreateDate
        </td>
        <td>
            @item.FormatDateLastUpdate
        </td>
        <td>
            @item.IsDeleted
        </td>
        <td>
            @item.FormatDateDeletedDate

 
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
