@model IPOS.Dash.Admin.Web.Models.WipoHagueViewModel

@{
    ViewBag.Title = "Edit Record";
}

<h2>Edit Record</h2>
<h3>WIPO-Hague</h3>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <h4><span class="sys_msg">System Message</span></h4>



        <hr class="line" />
        <div class="form-group">
            <div class="form-group">
                @Html.Label("Designs In International Registrations: ")
                @Html.EditorFor(model => model.IntlRegistrations, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IntlRegistrations, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr class="line" />

        <div class="form-group">
            @Html.Label("Designs In International Registrations: ")
                @Html.EditorFor(model => model.DesignsIntlRegistrations, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignsIntlRegistrations, "", new { @class = "text-danger" })
        </div>
        <hr class="line" />

        <div class="form-group">
            @Html.Label("International Applications: ")
                @Html.EditorFor(model => model.IntlApplications, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IntlApplications, "", new { @class = "text-danger" })
        </div>
        <hr class="line" />

        <div class="form-group">
            @Html.Label("Designs In International Applications: ")
           
                @Html.EditorFor(model => model.DesignsIntlApplications, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignsIntlApplications, "", new { @class = "text-danger" })       
        </div>
        <hr class="line" />

        <div class="form-group">
            @Html.Label("International Renewals: ")
          
                @Html.EditorFor(model => model.Renewals, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Renewals, "", new { @class = "text-danger" })       
        </div>
        <hr class="line" />

        <div class="form-group">
            @Html.Label("Designs In International Renewals: ")
          
                @Html.EditorFor(model => model.DesignsRenewals, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignsRenewals, "", new { @class = "text-danger" })
        </div>
        <hr class="line" />

        <div class="form-group">
            
                <input type="submit" value="Update Record" class="btn btn-default" />
            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List of WipoHague Records", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
