@model IEnumerable<MVCDemoTest.countrymap>

@{
    ViewBag.Title = "Country Mapping";
}

<h2>Country Mapping</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Country Code           
        </th>
        <th>
            ISO Number         
        </th>
        <th>
            ISO Alpha 2
        </th>
        <th>
            ISO Alpha 3
        </th>
        <th>
            Country Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.countrycode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iso_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iso_a2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iso_a3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.countryname)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCountry", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
