<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VENTURE</title>

    @RenderPage("~/Views/Shared/_cssAssets.cshtml")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VENTURE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Machine Check List", "Index", "ExaminerCount/Index")</li>

                    <li>@Html.ActionLink("WIPO-Hague Records", "Index", "wipohague/Index") </li>
                    <li>@Html.ActionLink("Create New WIPO-Hague", "Create", "wipohague/Create")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
       
        

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IPOS-DASH</p>
        </footer>
    </div>
    @RenderPage("~/Views/Shared/_ScriptAssets.cshtml")
    <script>
        $(document).ready(function () {
            @RenderSection("JavaScriptAtDocReady", required: false)
        });

         @RenderSection("JavaScriptFunction", required: false)
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
